@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: "Nunito Sans", serif;
}

.text-primary {
  --tw-text-opacity: 1;
  color: rgb(8 160 129 / var(--tw-text-opacity, 1));
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  width: 100%;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Untuk Firefox */
}

.bg-primary\/50 {
  background-color: #08a08180;
}

.footer {
  background-color: #2d2d2d;
}
